%div{:id => "#{element_id}"}
  %div{:id => "#{element_id}_chart", :class => 'chart-container'}
  .chart_options
    = label_tag(:split, 'Split: ')
    = select_tag(:split, options_for_select([['No split', ''], ['Map', 'MapName'], ['Game variant', 'GameVariantName']]))
    %button{:id => 'updateChart'}
      Plot
    
  :javascript
    $(function(){
      var chart = new Highcharts.Chart(Application.chartOpts({
        chart: {
          renderTo: '#{element_id}_chart'
        },
        title: {
          text: '#{title}'
        }
      }));

      $("#updateChart").click($.proxy(function(e){
        var hashParams = {};
        hashParams['split'] = $("#split").val();

        window.location = '#' + $.param(hashParams);
        Application.updateChart(chart, '#{data_url}', hashParams);
      }, this));

      Application.updateChart(
        chart,
        '#{data_url}',
        Application.fragToObj()
      );
    });